{% extends 'course/student/base_student.html' %}

{% block content %}


    <main id="main" class="main">

         <div class="pagetitle">
            <h1>Courses</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/student/">Home</a></li>
                    <li class="breadcrumb-item active">Courses</li>
                </ol>
            </nav>
        </div><!-- End Page Title -->
        <section class="section">
            {% for object in subjects %}
                {% if forloop.counter0|divisibleby:2 %}
                    <div class="row">
                {% endif %}
            <div class="col-lg-6">
                <a href="/student/courses/{{ object.level.number }}/{{ object.name }}">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ object.name }}</h5>
                            <p>{{ object.level }}</p>
                        </div>
                    </div>
                </a>
            </div>
            {% if forloop.counter|divisibleby:2 or forloop.last %}
                </div>
            {% endif %}
            {% endfor %}
        </section>
    </main>




{% endblock %}