{% extends 'course/teacher/base_teacher.html' %}

{% block content %}



    <main id="main" class="main">
        <div class="pagetitle">
            <h1>{{ chapter.name }}</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/teacher/">Home</a></li>
                    <li class="breadcrumb-item"><a href="/teacher/courses">Courses</a></li>
                    <li class="breadcrumb-item"><a href="/teacher/courses/{{ subject.level.number }}/{{ subject.name }}">{{ subject }}</a></li>
                    <li class="breadcrumb-item active">{{ chapter.name }}</li>
                </ol>
            </nav>
        </div><!-- End Page Title -->


        <section class="section">
            {% for object in course_material %}
                {% if forloop.counter0|divisibleby:2 %}
                    <div class="row">
                {% endif %}
            <div class="col-lg-6">
                <a href="{{ request.path }}/{{ object.slug }}">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ object.title }}</h5>
                            <p>{{ test }}</p>
                        </div>
                    </div>
                </a>
            </div>
            {% if forloop.counter|divisibleby:2 or forloop.last %}
                </div>
            {% endif %}
            {% endfor %}
        </section>
    </main>




{% endblock %}